<header>
  <nav class="navbar">
    <div class="navbar-logo">
      <span class="brand-initial"
        ><a class="nav-link" routerLink="/"> JPMC</a></span
      >
    </div>

    <ul class="nav-links">
      <li>
        <a class="nav-link" routerLink="/app-invest-ment-overview">
          Portfolio Dashboard</a
        >
      </li>
    </ul>

    <div class="nav-actions">
      <button class="login-btn" *ngIf="!token">
        <a class="nav-link" routerLink="/app-auth">Signup</a>
      </button>
      <button class="get-started-btn">Get Started</button>
    </div>
  </nav>
</header>
