<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Features</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-auth">Signup </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Service</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-invest-ment-overview"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">App Review</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div
  class="navbar container-fluid"
  [ngStyle]="{ background: navbarBackground }"
  id="navbar"
>
  <div class="navbar-header">
    <a class="navbar-brand">Brand</a>
  </div>
  <div class="navbar-right" id="myNavbar">
    <ul class="nav navbar-nav">
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
      <li>Login</li>
      <li>Signup</li>
    </ul>
  </div>
</div>
<div class="para">
  <h3>Scroll down to see the navbar effect..</h3>
</div> -->
